
*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    font: 16px 'Helvative Neue', Helvetica, Arial, sans-serif;
    color: #000;
}

html {
    box-sizing: border-box;
    display: block;
}

body {
    display: flex;
    flex-direction: row;
}

.sidebar {
    flex: 0 0 auto;
    width: 300px;
    border-right: 1px solid black;
}

.input-row {
    display: block;
    margin: 0.4em 0.2em;
}

.input-row > input[type=text] {
    display: block;
    width: 100%;
}

.main {
    flex: 1 1 auto;
    position: relative;
    overflow: hidden;
}

canvas {
    display: block;
}

.canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.canvas-container > canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.plot-overlay {
    position: absolute;
    bottom: 0;
    right: 10px;
    text-align: right;
    text-shadow: 0 0 5px white;
    pointer-events: none;
}

.plot-overlay > div {
    margin: 10px 0;
}

.plot-palette-canvas {
    margin: 3px 0;
    margin-left: auto;
    border: 2px solid white;
}

.hidden {
    display: none !important;
}
